* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}
.App {
  display: flex;
  text-align: center;
  height: 100vh;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.todo-container {
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
